.container{
    text-align: center;
}
img{
    width: 400px;
    border: 1px solid red;
}
*{
    background-color: burlywood;
}
h3{
    background-color: chocolate;
    width: 200px;
    border-radius: 10px;
}
.title-2{
    float: left;
    position: relative;
    width: 500px;
    
}
.one{
    display: flex;
    justify-content: space-evenly;

}

div>i{
    font-size: 40px;;
}
*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}